<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-purple-600 text-2xl mb-6">My name: <span
          class="text-gray-800 font-bold tracking tracking-widest">Jeff Normile.</span></h1>
      <h2 class="font-bold tracking-widest text-4xl">My game: bringing</h1>
        <span class="content__container block font-light text-browngray text-2xl my-6">
          <ul class="content__container__list">
            <li class="content__container__list__item xl:pl-3">creativity</li>
            <li class="content__container__list__item xl:pl-3">technical expertise</li>
            <li class="content__container__list__item xl:pl-3">strategic thinking</li>
            <li class="content__container__list__item xl:pl-3">curiosity</li>
            <li class="content__container__list__item xl:pl-3">leadership experience</li>
            <li class="content__container__list__item xl:pl-3">an eye for detail</li>
            <li class="content__container__list__item xl:pl-3">adaptability</li>
          </ul>
        </span>
        <p class="font-bold tracking-widest text-4xl">to your next software project.</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/layers.png" alt="Stack layers">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="#about">Who Am I?</a>
</div>