{% for item in collections.sections %}
  {% if item.data.type === 'register' %}
    <div id="register" class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-800">
      <div class="self-center text-center w-full xl:w-1/3 px-4 sm:px:0">
        <h2 class="font-bold tracking-widest text-gray-200 text-4xl mb-4">{{ item.data.title }}</h2>
        <div class="font-light text-gray-400 text-xl">
          {{ item.templateContent | safe }}
        </div>
        <br>
        <div class="flex flex-row w-full justify-center pt-6">
          <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="https://github.com/term-world">term-world</a>
        </div>
        <div class="font-light text-gray-400 text-xl">
          A gamified learning environment for teaching programming fundamentals to a community
          of learners, complete with browser-based VS Code platform.
        </div>
        <br>
        <div class="flex flex-row w-full justify-center pt-6">
          <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="https://blog.theterm.world/">term-world Dev Blog</a>
        </div>
        <div class="font-light text-gray-400 text-xl">
          A development blog detailing the motivations for the term-world project, as well as
          commentary on successes and challenges in implementation.
        </div>
        <br>
        <div class="flex flex-row w-full justify-center pt-6">
          <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="https://github.com/GatorEducator/SheetShuttle">SheetShuttle</a>
        </div>
        <div class="font-light text-gray-400 text-xl">
          An open-source tool for communicating between Google Sheets and GitHub APIs.
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}